In [41]:
import pandas as pd
from pandasql import sqldf

In [42]:
# Célula 2: Carregando os arquivos de dados para a memória

# O caminho '../input/brazilian-ecommerce/' é o padrão do Kaggle para este dataset
caminho_dados = '../input/brazilian-ecommerce/'

print("Carregando arquivos, isso pode levar um momento...")

# Criando as variáveis (que funcionarão como nossas 'tabelas' para o SQL)
customers = pd.read_csv(caminho_dados + 'olist_customers_dataset.csv')
orders = pd.read_csv(caminho_dados + 'olist_orders_dataset.csv')
order_items = pd.read_csv(caminho_dados + 'olist_order_items_dataset.csv')
products = pd.read_csv(caminho_dados + 'olist_products_dataset.csv')
payments = pd.read_csv(caminho_dados + 'olist_order_payments_dataset.csv')
sellers = pd.read_csv(caminho_dados + 'olist_sellers_dataset.csv')

print("Dados carregados com sucesso!")
print("As 'tabelas' customers, orders, etc., agora existem e estão prontas para serem usadas.")

Carregando arquivos, isso pode levar um momento...
Dados carregados com sucesso!
As 'tabelas' customers, orders, etc., agora existem e estão prontas para serem usadas.

### Análise Inicial: Qual a Distribuição Geográfica dos Nossos Clentes?

A primeira etapa para entender o negócio é saber onde nossos clientes estão localizados. Esta análise inicial identifica os estados com a maior concentração de clientes, utilizando apenas a tabela *customers*.

In [43]:
query_clientes_por_estado = """
    SELECT
        customer_state AS estado,
        COUNT(customer_unique_id) AS total_de_clientes
    FROM
        customers
    GROUP BY
        customer_state
    ORDER BY
        total_de_clientes DESC;
"""

# Executando a consulta
clientes_por_estado = sqldf(query_clientes_por_estado)

# Exibindo o resultado
print("Distribuição de Clientes por Estado")
display(clientes_por_estado)

Distribuição de Clientes por Estado

   estado  total_de_clientes
0      SP              41746
1      RJ              12852
2      MG              11635
3      RS               5466
4      PR               5045
5      SC               3637
6      BA               3380
7      DF               2140
8      ES               2033
9      GO               2020
10     PE               1652
11     CE               1336
12     PA                975
13     MT                907
14     MA                747
15     MS                715
16     PB                536
17     PI                495
18     RN                485
19     AL                413
20     SE                350
21     TO                280
22     RO                253
23     AM                148
24     AC                 81
25     AP                 68
26     RR                 46